/* For items that appear on all pages */


body {
    font-family: 'Inter';
    font-weight: 250;
    background-color: #F5EFE7;
    margin: 0%;
    background-image: url('resources/background\ blob.png');
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: 850px 500px;
}


#website-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 8% 0% 8%;
}
#website-title {
    font-size: 60px;
}
#nav-bar {
    font-size: 20px;
}
#nav-item-current-page {
    padding: 20px 30px;
    color: inherit;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 700;
}
#nav-item-current-page:hover {
    background-color: #faedd4;
    transition: 0.4s;
}
#nav-item-current-page:active {
    background-color: #f0dbb2;
}
#nav-item {
    padding: 20px 30px;
    color: inherit;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 350;
}
#nav-item:hover {
    background-color: #faedd4;
    transition: 0.4s;
}
#nav-item:active {
    background-color: #f0dbb2;
}
#external-link-icon {
    width: 20px;
    padding: 0%;
    margin: 0%;
}